.btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 18px;
}

/* Style the active class, and buttons on mouse-over */
.active, .btn:hover {
    background-color:#8B4481;
    color: white;
}

/*Font color*/
.act-text-red {
    color:#7F2900;
}

.act-text-right{
    text-align: right;
}

/*background color*/
.bg-violet
{background-color:Violet
}
.bg-half
{background-color:#C230CC
}

/*size picture*/
.size-pic{
width: 500px;
height: auto;
}
